.errors {
  border: 2px solid red;
  padding: 16px;
  color: red;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  color: #5c5c5c;
  font-size: 28px;
}

.button {
  margin-top: 8px;
  padding: 8px 40px;
  font-size: 24px;
  color: #fff;
  background-color: #228B22;
  border: none;
  border-radius: 5px;
}
