.root {
  display: flex;
  flex-direction: row;
  gap: 0 36px;
  width: 70%;
  padding: 24px;
  border: 1px solid #dcdcdc;
  border-radius: 12px;
  color: #5c5c5c;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 4px 0;
  overflow: hidden;
}

.label {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.value {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 20px;
}

.titleAndAuthor {
  flex: 3;
}

.other {
  flex: 1;
}
