.paginate {
  display: flex;
  flex-direction: row;
  gap: 12px;
  list-style: none;

  & > li {
    & > a {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px;
      height: 32px;
      width: 32px;
      border: 1px solid #dcdcdc;
      cursor: pointer;
    }
  }
}

.active {
  color: #fff;
  background-color: #005ebb;
}
