.root {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  height: 90vh;
  box-sizing: border-box;
}

.errors {
  border: 2px solid red;
  padding: 16px;
  color: red;
}
